/*====================
=======Structure======
======================*/

body{
    /* indica el color del fondo */
    background-color: hsl(0, 0%, 17%);
    display:flex; 
    flex-direction:column;
    /* Distancia que hay fuera del div */
    margin: 0em auto;
    min-height: 100vh;
    width: 100%;
    /* background-image: url("https://s.itl.cat/pngfile/s/29-299907_kimi-no-na-wa-wallpaper-for-iphone-iphone.jpg"); */
}

header{
    display: flex;
    height: 10%;
    justify-content: space-between;
    padding: 0 5%;
    width: 90%;
    background-color: hsla(0, 0%, 81%, 0.589);
}

footer{
    display: block;
    margin-top: 5rem; 
    width: 100%;
    align-items: center;
}

/*====================
=======Structure======
======================*/


main{
    margin: 0 auto;
    position: relative;
    top: 2rem;
    width: 90%;
}

.desktop-only{
    display: block;
}

.mobile-only{
    display: none;
}

/*====================
========Columns=======
======================*/

.desktop-five-columns{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-five-columns .column{
    width: 15%;
}

.desktop-four-columns{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-four-columns .column{
    width: 22%;
}


.desktop-three-columns{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-three-columns .column{
    width: 30%;
    overflow: hidden;
}

.desktop-two-columns{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-two-columns .column{
    width: 48%;
}

.desktop-two-columns-aside{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-two-columns-aside .column-aside{
    width: 20%;
}

.desktop-two-columns-aside .column-main{
    width: 75%;
}

.desktop-two-columns-inline{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-two-columns-inline .column{
    width: 48%;
}

.desktop-two-columns-inline .column div{
    display: flex;
    margin-right: 1em;
}

.desktop-one-column{
    width: 100%;
}

.desktop-one-column .column{
    width: 100%;
}

/*====================
========Image=========
======================*/

img {
    max-width: 100%;
}

/*====================
========List=========
======================*/

.inline li{
    display: inline;
}

/*====================
======Typography======
======================*/

h1, h2, h3, h4, h5, h6, a, p{
    color: hsl(0, 0%, 100%);
}

h1, h2, h3, h4 {
    font-family: "Ubuntu";
}

h5, h6 {
    font-family: "Ubuntu Condensed";
    
}

a, td, p, button{
    font-family: "Ubuntu";
}

h1 {
    font-size: 2.5em;
    font-weight: 600;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}

h2 {
    font-size: 2em;
    font-weight: 600;
    text-decoration: none;
    color: hsl(0, 0%, 100%)
}

h4 {
    font-weight: 600;
    text-decoration: none;
    color: hsl(0, 0%, 100%)
}

p{
    color: hsl(0, 0%, 100%);
    text-align: justify;
}

h6{
    text-align: left;
}


a {
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    font-weight: 600;
    text-decoration: none;
    transition: 300ms;
}

a:focus, a:hover {
    outline: none;
    outline-offset: 0;
    text-decoration: none;
}

.center{
    text-align: center;
}

.red-text p{
    color:hsl(0, 77%, 63%);
    text-shadow: 3px 1px 2px hsl(0, 11%, 4%);
}

.red-text h2{
    color:hsl(0, 77%, 63%);
    text-shadow: 3px 1px 2px hsl(0, 11%, 4%);
}

.red-text h3{
    color:hsl(0, 77%, 63%);
    text-shadow: 3px 1px 2px hsl(0, 11%, 4%);
}

.red-text h4{
    color:hsl(0, 77%, 63%);
    text-shadow: 3px 1px 2px hsl(0, 11%, 4%);
}

/*====================
========Header=========
======================*/

.logotitle{
    display: flex;
    justify-content: left;
}

.logo{
    width: 10%;
}

.logo, .title, .menu{
    margin: auto 0;
}

.logo img{
    background: transparent;
}

.menu{
    display: flex;
    justify-content: space-between;
    width: 40%;
}

/*====================
========Hamburguer====
======================*/

.menu-mobile{
    position: sticky;
    padding: 5rem 40%;
    display: block;
    z-index: 1002;
    justify-content: center;
}

.menu_element-mobile h1{
    position: sticky;
    text-align: center;
    text-shadow: 3px 1px 2px hsl(0, 11%, 4%);
    font-size: 1.5rem;
    margin-top: 5rem;
    margin: 5rem 0rem;
} 

.list-item {  
    padding:1rem 100%;  
    list-style:none;
}  

.nav-link{  
    color:inherit;  
    text-decoration:none;  
}  

.ham{  
    display:none;  
    padding:5px;  
    cursor:pointer;  
}  

.bar1,.bar2,.bar3{  
    display:block;
    z-index: 1005;  
    width:35px;  
    height:3px;  
    margin:5px auto;  
    background-color:#ffffff;  
    transition: 0.4s;  
} 

.nav-sub{
    left: 0%;
    right: 0%;
    position: fixed;
    top: -100rem;   
    z-index: 1002;
    background-color:hsl(0, 0%, 23%);
    transition:top 0.3s ease-in; 
    transition: bottom 0.3 ease-in; 
}

.nav-change{ 
    display: flex;
    z-index: 1002;
    top: 0%; 
    bottom: 0%;
}  

.ham{  
    display:block;
    position: fixed; 
    top: 0rem;
    right: 0rem; 
    z-index: 2000;
}  

.change .bar1 {
    
    position: fixed;
    position: absolute;   
    transform: rotate(45deg) translate(6px,3px); 
    z-index: 1005; 
}  
.change .bar2 { 
    z-index: 1005;
    opacity: 0;  
}  
.change .bar3 {
    position: absolute;  
transform: rotate(-45deg) translate(6px,-3px);  
z-index: 1005;
}

     
/*====================
========Slider=========
======================*/

.slider{
    padding: 0.2rem;
    border-radius: 20rem;
	transition: 0.5s;
	text-decoration: none;
    z-index: 5rem;
    position: 2rem;
}

.slider-image{
    position: relative;
    height: 100%;
    z-index: 1000rem;
}

.slider-text-title{
    position: absolute;
    z-index: 1003rem;
    top: 25%;
    right: 20%;
    background-color: hsla(0, 0%, 0%, 0.76);
    padding: 1rem 5rem;
    border-radius: 1rem;
}

.slider-text-subtext{
    position: absolute;
    z-index: 1003rem;
    top:35%;
    right: 20%;
    background-color: hsla(0, 0%, 0%, 0.76);
    padding: 0.2rem 2rem;
    border-radius: 0.5rem;
}

/*====================
========Featured======
======================*/

.featured{
    width: 100%;
}

.featured-title{
    margin: 3em 0;
    text-align: center;
}

.featured-elements{
    display: flex;
    justify-content: space-between;
}

.featured-element{
    margin:0.5rem;
    width: 25%;
}

.featured-element-text-title{
    margin-bottom: 0.5em;
}

.featured-element-text-title h5{
    color:hsl(0, 77%, 63%);
    text-shadow: 3px 0px 2px hsl(0, 11%, 4%);
}

.featured-element-text-description{
    margin: 5% auto;
}

.featured-element-text-author{
    margin-top: 5%;
}

.offer{
    margin: 5rem 0.5rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.offer-text{
    padding: 0.5rem;
    width: 90%;
}

.offer-text-description{
    margin-top: 40%;
}

.offer-image{
    width: 70%;
}

.footer-element{
    display: block;
}

.copyright{
    margin-bottom: 1em;
    text-align: center;
    width: 100%;
}

.author{
    margin-bottom: 1em;
    text-align: center;
}

/*====================
========Form==========
======================*/

.top-text{
    margin-bottom: 5rem;
}

.top-text h1{
    text-align: center;    
    text-shadow: 2px 3px 2px #000000;
}

.text-info{
    margin-bottom: 2rem;
}

.text-info h2{
    text-align: left;
}

.contact-info{
    display: flex;
}

.contact-svg{
    display: flex;
    justify-content: left;
    margin-right: 5%;
    color: red;
}

.contact-svg svg{
    width: 3rem;
    height: 3rem;
}

.contact-text{
    margin-top: 2%;
    margin-bottom: 3rem;
}

.form-element-input input{
    width: 96%;
    padding: 0.5rem 2%;
    margin: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: 0px 3px 1px 0px #000000; 
    box-shadow: 0px 3px 1px 0px #000000;
}

.form-element-label label{
    color: hsl(0, 0%, 100%);
    text-shadow: 2px 3px 2px #000000;
}

.form-element-input{
    display: flex;
    justify-content: center;
}

.form-element-input textarea{
    width: 100%;
    height: 5rem;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
    -webkit-box-shadow: 0px 3px 1px 0px #000000; 
    box-shadow: 0px 3px 1px 0px #000000;
}

.form-element-button{
    float: right;
    margin-top: 5%;
}

.form-element-button button{
    padding: 0.5rem 1rem;
    background-color: rgb(223, 18, 18);
    border-radius:  0.5rem;    
    color: hsl(0, 0%, 100%);
    -webkit-box-shadow: 0px 3px 1px 0px #000000; 
    box-shadow: 0px 3px 1px 0px #000000;
}

.form-element-button button:hover{
    background-color: rgb(175, 16, 16);
}

/*====================
========products======
======================*/

.categories{
    border: black ;
    border-right-style: solid;
    flex-flow: column;
    height: 100%;
}

.categories-element{
    display: flex;
    margin: 1rem auto;
}

.select-option select{
    padding: 0.4rem 1rem;
    background-color: rgb(223, 18, 18);
    border-radius:  0.5rem;    
    color: hsl(0, 0%, 100%);
    -webkit-box-shadow: 0px 3px 1px 0px #000000; 
    box-shadow: 0px 3px 1px 0px #000000;
}

.select-option option{
    margin-top: 1rem;
    padding: 0.2rem 0.5rem;
    background-color: rgb(255, 255, 255);
    border-radius:  0.5rem;    
    color: hsl(0, 0%, 0%);
    -webkit-box-shadow: 0px 3px 1px 0px #000000; 
    box-shadow: 0px 3px 1px 0px #000000;
}


.button-text{
    margin-left: 0.5rem;
}

.Products{
    margin: 5rem auto;
}

.product-element{
    padding: 1rem;
    margin: 0.5rem;
    margin-top: 2rem;
    background-color: hsla(0, 72%, 52%, 0.137); ;
}

.product-element:hover{
    border-style: solid;
    color:hsl(0, 72%, 52%);
    padding: 0.2rem;
    border-width: 0.2rem;
}

.product-image img{
    width: 100%;
}



.product-price{
    margin: 1rem ;
    display: flex;
    justify-content: center;
}

.product-price p{
    font-size: 3rem;
}

.product-details button{
    margin-top: 1rem;
    padding: 0.2rem 0.5rem;
    background-color: rgb(223, 18, 18);
    border-radius:  0.5rem;    
    color: hsl(0, 0%, 100%);
    -webkit-box-shadow: 0px 3px 1px 0px #000000; 
    box-shadow: 0px 3px 1px 0px #000000;

}

/*====================
========product======
======================*/

.column-decoration{
    padding-right: 2rem;
    border: rgb(223, 18, 18);
    border-right-style: solid;
}

.main-image{
    display: flex;
    justify-content: center;
}

.secundary-image-element{
    margin: 0.5rem;
    margin-top: 2rem;
}

.column-aside-decoration{
    width: 100%;
    border-radius: 1rem;
    padding: 1rem;
}

.product-description{
    margin: 2rem;
}

.product-title{
    display: flex;
    justify-content: center;
}

.product-quantity{
    margin-top: 5rem;
}

.product-quantity-text{
    margin-top: 0.6rem;
}

.product-quantiy-number{
    display: flex;
    justify-content: right;
    padding: 0.5rem;
    display: flex;
}

.product-quantiy-number-element p{
    color: black;
}

.product-quantiy-number-element-number{
    border: rgb(0, 0, 0);
    border-width: 0.1rem;
    padding: 0.1rem 4rem;
    background-color: white;
    border-style: solid;
}

.product-quantiy-number-element-number p{
    font-style: normal;
}

.buy{
    display: flex;
    justify-content: right;
}
.cart{
    display: flex;
    justify-content: right;
    margin-top: 0.4rem;
}

.cart svg{
    fill: rgb(223, 18, 18);
    width: 40%;
    height: 40%;
    margin: 0%;
}

.buy-button{
    margin-right: 2.3rem;
}

.buy-button button{
    margin-top: 1rem;
    padding: 0.2rem 0.5rem;
    background-color: rgb(223, 18, 18);
    border-radius:  0.5rem;    
    color: hsl(0, 0%, 100%);
    -webkit-box-shadow: 0px 3px 1px 0px #000000; 
    box-shadow: 0px 3px 1px 0px #000000;
}

/*====================
========cart==========
======================*/

.desktop-two-columns-aside-cart{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.cart-title{
    display: flex;
    justify-content: left
}

.cart-title-svg{
    width: 5%;
    margin: 2rem 0rem;
}

.cart-products{
    background-color: hsla(0, 0%, 100%, 0.137);
    margin: 2rem 1rem;
}

.cart-product-element{
    padding: 1rem 2rem;
    padding-bottom: 2rem;
    border: rgb(0, 0, 0);
    border-bottom-style: solid;
}

.cart-product-element-image-description{
    display: flex;
}

.cart-product-image{
    width: 100%;
    margin-right: 0.5rem;
    margin-bottom: 1rem;
}

.cart-product-quantiy-number{
    display: flex;
    justify-content: left;
    margin-top: 1rem;
}

.cart-product-description-element{
    margin-bottom: 2rem;
}

.cart-product-text-gift{
    bottom: 5% ;
    display: flex;
}

.cart-procut-price{
    display: flex;
    justify-content: right;
}

.product-name-element{
    margin: 0.5rem 0rem;
}

.column-top-decoration{
    padding-right: 2rem;
    border: rgb(0, 0, 0);
    border-top-style: solid;
}

.cart-buy-button{
    margin-right: 2.3rem;
}

.cart-buy-button button{
    margin-top: 4rem;
    padding: 0.5rem 1rem;
    background-color: rgb(223, 18, 18);
    border-radius:  0.5rem;    
    color: hsl(0, 0%, 100%);
    -webkit-box-shadow: 0px 3px 1px 0px #000000; 
    box-shadow: 0px 3px 1px 0px #000000;
    float: right;
}
.recomendations-title{
    display: flex;
    justify-content: center;
    margin: 2rem 1rem;
}

.cart-recomendation-product{
    display: flex;
    margin: 1rem 0rem;
}

.cart-recomendation-image{
    width: 30%;
    margin: 0rem 1rem;
}

.recomendation-text-element{
    margin-bottom: 1rem;
}

.cart-add-button button{
    padding: 0.1rem 0.5rem;
    background-color: rgb(223, 18, 18);
    border-radius:  0.5rem;    
    color: hsl(0, 0%, 100%);
    -webkit-box-shadow: 0px 3px 1px 0px #000000; 
    box-shadow: 0px 3px 1px 0px #000000;
}

 /*======================
  =======checkout========
  =======================*/

  .billing-title{
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }

  .checkout-element{
    margin: 1rem 0rem;
  }

  .country-options select{
    margin-top: 0.5rem;
    width: 100%;
    padding: 0.3rem 0.5rem;
    border-radius: 0.5rem;
  }

  .order-price{
      display: flex;
      justify-content: center;
      margin: 2rem auto;
  }

  td, th{
      margin: 2rem;
      padding: 1rem;
      padding-right: 3rem;
  }

  .bank-transfer-element{
      margin-right: 0.2rem;
  }

  .bank-transfer{
    display: flex;
    padding: 1rem 0rem;
    border-radius: 0.5rem;
    border: rgb(0, 0, 0);
    border-bottom-style: solid;
    border-top-style: solid;
  }

  .bank-transfer-simbol svg{
      fill: rgb(214, 33, 214);
      width: 70%;
      height: 70%;
  }

  .paypla-decoration{
    margin-top: 1rem;
    border-radius: 0.5rem;
    border: rgb(0, 0, 0);
    border-bottom-style: solid;
    border-top-style: solid;
  }

  .paypal{
      display: flex;
  }

  .paypal-element{
      margin-right: 0.5rem;
  }

.paypal-simbol{
    margin-left: 0.5rem;
    width: 60%;
    height: 60%;
}

.paypal-simbol svg{
    fill: rgb(128, 128, 128);
    width: 100%;
    height: 100%;
}

.text-purple p{
    color: rgb(214, 33, 214);
    text-decoration: underline;
}

.paypal-card-types{
    margin-right: 1rem;
    width: 30%;
    float: right;
}

.finish-order-button{
    margin-top: 3rem;
}

.finish-order-button button{
    width: 100%;
    padding: 0.5rem 0rem;
    background-color: rgb(223, 18, 18);
    border-radius:  0.5rem;    
    color: hsl(0, 0%, 100%);
    -webkit-box-shadow: 0px 3px 1px 0px #000000; 
    box-shadow: 0px 3px 1px 0px #000000;
}


@media (min-width: 1920px) {

    h1 {
        font-size: 3.5em;
    }
    
    h2 {
        font-size: 3em;
    }

    .logo svg{
        height: 4em;
        width: 4em;
    }

    .crud__form-label label{
        font-size: 2em;
    }

    .crud__form-input input, 
    .crud__form-input textarea,
    .crud__form-input select {
        font-size: 1.5em;
        padding: 0.3em;
    }

    .crud__store-button{
        font-size: 1.5em;
    }

    .copyright p{
        font-size: 1.5em;
    }
}


@media (max-width:1024px) {

    header{
        height: max-content;
    }

    h1 {
        font-size: 2em;
    }
    
    h2 {
        font-size: 1.5em;
    }

    .logo svg{
        height: 2em;
        width: 2em;
    }

    .title{
        margin-left: 0.5em;
    }

    .crud{
        display: block;
        margin: 1.5em 0;
    }

    .crud__table, .crud__form{
        min-width: 100%;
        max-width: 100%;
    }

    .crud__table-grid{
        grid-gap: 0;
    }

    .crud__table-flex{
        gap: 0;
    }

    .crud__store-button{
        font-size: 1em;
        margin-top: 0.5em;
    }

    .copyright{
        margin: 1em 0;
    }

    .author{
        padding: 1em;
    }
}

@media (max-width:479px) {

    /*====================
    =======Structure======
    ======================*/

    main{
        margin: 0 auto;
        position: relative;
        top: 5rem;
        width: 95%;
    }

    .desktop-only{
        display: none;
    }

    .mobile-only{
        display: block;
    }

    /*====================
    ========Columns=======
    ======================*/

    .mobile-four-columns{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .mobile-four-columns .column{
        width: 22%;
    }

    
    .mobile-three-columns{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .mobile-three-columns .column{
        width: 30%;
    }

    .mobile-three-columns-start{
        display: flex;
        justify-content: start;
        width: 100%;
    }

    .mobile-three-columns-start .column{
        width: inherit;
    }

    .mobile-two-columns{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .mobile-two-columns .column{
        width: 48%;
    }

    .desktop-two-columns-aside .column-aside{
        display: none;
    }

    .mobile-two-columns-aside .column-main{
        width: 100%;
    }

    .mobile-one-column-inline{
        display: inherit;
        width: 100%;
    }
    
    .mobile-one-column-inline .column{
        display: flex;
        margin-bottom: 1em;
        width: 100%;
    }
    
    .mobile-one-column-inline .column div{
        display: inherit;
        margin-right: 1em;
        width: 100%;
    }

    .mobile-one-column{
        display: block;
        width: 100%;
    }

    .mobile-one-column .column{
        width: 100%;
    }

/*=======================
  =======Menu============
  =======================*/

    header{
        width: 96%;
        height: max-content;
        padding: 1rem 0.5rem;

    }

    .menu{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .menu_element{
        margin: 0rem 0.5rem;
    }

    .menu_element h3{
        font-size: 0.5rem;
        width: 100%;
    }

    h1 {
        font-size: 100%;
    }
    
    h2 {
        font-size: 1.5em;
    }

    h4 {
        font-size: small;
    }


    .featured-title{
        margin-top: 3rem;
    }
    .featured-elements{
        flex-wrap: wrap;
    }

    .featured-element{
        flex-basis: 100%;
        margin-top: 2rem;
    }

    .offer{
        flex-wrap: wrap;
    }

    .offer-text-description{
        margin: 1rem auto;
    }


    .offer-text{
        margin-top: 0%;
        padding-top: 0%;
        width: 100%;
    }
    
    .offer-image{
        width: 100%;
    }

    .copyright{
        margin: 1em 0;
    }

    .footer-element{
        display: none;
    }

    .slider-text-title{
        display: flex;
        justify-content: right;
        right: 0rem;
        padding: 1rem;
        padding-left: 5rem;
        width: 20%;
    }

    .slider-text-subtext{
        display: flex;
        top: 9rem;
        right: 1.3rem;
    }

    .featured-title h1{
        font-size: 2rem;
    }

/*=======================
=========Hamburguer======
=======================*/

    

/*=======================
  =======Form============
  =======================*/

    .top-text h1{
        font-size: 2rem;
    }

    .contact-text{
        padding-right: 2rem;
    }

    .text-info{
        display: none;
    }


    .form-element{
        margin-top: 1.5rem;
    }

    .mobile-left{
        text-align: left;
    }

    .form-element-button{
        margin: 1rem 0rem;
        margin-top: 0.5rem;
    }

 /*======================
  =======Categories======
  =======================*/

  .select-option{
      margin-bottom: 0rem;
  }

  .categories{
      display: block;
      width: 100%;
      padding: 5rem;
      margin: 10rem;
  }

  .categories-element{
    display: block;
    margin: 1rem auto;
}

.product-quantity-text{
    margin-top: 0rem;
    margin-right: 2rem;
}

 /*======================
  =======product=========
  =======================*/

  .column-decoration{
    justify-content: center;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border: rgb(223, 18, 18);
    border-bottom-style: solid;
}

.main-image, .secundary-image{
    margin-left: 1.5rem;
}



  .product-description{
    margin: 2rem 1rem;
}

.product-title h1{
    font-size: 2rem;
}

.product-price h1{
    font-size: 2rem;
}

.buy{
    display: flex;
    justify-content: center;
}

.cart{
    display: flex;
    justify-content: right;
    margin-right: 0rem;
    margin-top: 0.5rem;
}

.cart svg{
    width: 50%;
    height: 50%;
}

.buy-button{
    margin-right: 8rem ;
    justify-content: left;
}

.products{
    margin: 3rem 0rem;
}

.cart-products{
    margin-top: 0rem;
}

.cart-title{
    display: flex;
    justify-content: center;
    padding: 0rem;
}

.cart-title h1{
    font-size: 5rem;
}

.cart-products{
    margin-top: 10rem;
}

.cart-product-element-image-description{
    display: block;
}

.cart-product-quantiy-number{
    justify-content: center;
}

.checkout-element{
    margin-top: 1.5rem;
}

.your-order-info{
    margin-top: 5rem;
}

}




